
<li class = "home-posts-li" id="post-<%= post._id %>">
    <p>
        <div>
            <div id="user-profile-pic-posts">
                <img src="<%=post.user.avatar%>" alt="<%=post.user.name%>">
            </div>  
            <small>
                <%= post.user.name %>
           </small>
           <% if (locals.user && locals.user.id == post.user.id){ %> 
            <small>
                <a style="margin-left:60%;" class="delete-post-button"  href="/posts/destroy/<%= post.id %>">Delete Post</a>
            </small>
            <% } %>
            
        </div>
        <div>
            <h4><b><%=post.topic %> </b></h4>
        </div>
        <div>
            <%= post.content %>
        </div>
      
        <div style="margin-top:2%;">
            <small>
                <% if (locals.user){ %>
                    <a id = "like-dislike-toggle" class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                         <%= post.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <i style="color:red;" class="fas fa-heart"></i> <%= post.likes.length %> 
                <% } %>
            </small>
        </div>
   
    </p>
    <details>
        <summary>All Comments</summary>
        <div class="post-comments">
            <% if(locals.user){ %>
             <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
                 <input type ="text" name = "content" placeholder="Type here to add comments.." required>
                 <input type ="hidden" name ="post" value="<%=post._id %>">
                 <button type ="submit">Comment<i class="fas fa-paper-plane"></i></button>
             </form>
             <% } %>  
             <div class = "post-comments-list">
                 <ul id = "post-comments-<%=post._id%>">
                     <%for(comment of post.comments){%>
                        <%- include('_comments') -%> 
                    
                    <%}%>
                 </ul>
             </div>
        </div>
    </details>
   
 </li>
