<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
        
    </head>

    <body>
        <% if(header){ %> 
        <%- include('_header'); %>
        <% } %> 
        <% if(flash.success &&flash.success.length > 0){ %> 
            <h5>
                <%=flash.success %> 
            </h5>
            <% } %> 
        <main id="layout-main">
            <%- body %>

        </main>

        <% if(footer){ %> 
        <%- include('_footer'); %>
        <% } %> 
        <%- script %>
        
    </body>
</html>