<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet"  href="<%=assetPath('css/layout.css')  %>">
        <link rel="stylesheet" href="<%=assetPath('css/header.css')  %>">
        <link rel="stylesheet"  href="<%=assetPath('css/footer.css') %>">

        <%- style %>
        
    </head>

    <body>

        <div class="main-container">
            <% if(header){ %> 
                <div id="header-container">
                    <%- include('_header'); %>
                </div>
               
                <% } %> 
                
                <main id="layout-main">
                    <%- body %>
                </main>
        
                <% if(footer){ %> 
                    <div id="footer-container">
                        <%- include('_footer'); %>
                    </div>
               
                <% } %>
        </div> 
        <%- script %>
        <script>
           <%if(flash.success && flash.success.length > 0){ %>
               new Noty({
                   theme: 'relax',
                   text: '<%=flash.success%>',
                   type:'success',
                   layout:'topRight',
                   timeout:1500

               }).show();    
               console.log('working flash')
           <%}%>
           <%if(flash.error && flash.error.length > 0){ %>
               new Noty({
                   theme: 'relax',
                   text: '<%=flash.error%>',
                   type:'error',
                   layout:'topRight',
                   timeout:1500

               }).show();    
               
           <%}%>
        </script>
    </body>
</html>