<link rel="stylesheet" href="/css/user_profile.css">
<div id="profile-main-container">
    <div class="user-profile-details">
        <div id="profile-image-contianer"> 
            <img src = "<%=user.avatar%>" alt="<%=user.name%>">
        </div>
        <div id="profile-details">
            <div id="name-and-edit">
                <div id="user-name">
                    <%= profile_user.name %>
                </div>
                <% if(user.id==profile_user.id){ %> 
                <div id="edit-button">
                    <a href="user_profile_edit_details.ejs"><button id="edit-btn">Edit Profile</button></a>
                </div>
                <%}else{%>
                    <p>
                        <% if(friendOrNot) { %>
                            <form action="/friendship/addfriend" method="post">
                                <input type="hidden" name="friendUserId" value="<%= profile_user.id %>">
                                <input type="submit" value="Unfollow">
                            </form>
                        <% } else {%> 
                        <form action="/friendship/addfriend" method="post">
                            <input type="hidden" name="friendUserId" value="<%= profile_user.id %>">
                            <input type="submit" value="Follow">
                        </form>
                        <% } %>
                    </p>
                    <% } %> 

            </div>
            <div id="bio">
                
            </div>
        </div>

    </div>
    <div class="user-profile-user-posts">
        Add users posts here

        <% if(user.id==profile_user.id){ %> 
            <!-- if user matches show the form -->
            <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" placeholder="Profile Picture" />
            <input type="text" name="name" placeholder="Enter Your name" value="<%= profile_user.name%>" required>
            <input type="email" name="email" placeholder="Enter Your email" value="<%= profile_user.email%>" required> 
            
            <input type ="submit" name="submit" value="Update">
            </form>
            <% } %>
    </div>
</div>


