<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>



<% if(user.id==profile_user.id){ %> 
<!-- if user matches show the form -->
<form action="/users/update/<%= profile_user.id%>" method="post">
<input type="text" name="name" placeholder="Enter Your name" value="<%= profile_user.name%>" required>
<input type="email" name="email" placeholder="Enter Your email" value="<%= profile_user.email%>" required> 
<input type ="submit" name="submit" value="Update">
</form>
<% } else{%> 
<!-- if not don't show form -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<% } %> 